body {
    font-family: "Roboto";
}

#search-results-map-house-number {
    position: absolute;
    top: 10px; left: 1px;
    width: 120px; height: 100%;
    display: none; /* start off hidden */
    z-index: 10; /* make sure this div is on top of the map */ 
}

#infowindow-content {
    overflow:hidden;
}
.infowindow-seller-address {
    font-family: "Roboto Condensed";
}
h1 {
    font-weight: bold;
    font-size: 22px !important;
}
h3 {
    font-family: "Roboto Condensed";
}
h4 {
    font-family: "Roboto Condensed";
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
}

input[type="text"]:focus {
    outline: none;
}

.style-1 input[type="text"] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}
.style-4 input[type="text"] {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}
.style-4 input[type="text"]:focus,
.style-4 input[type="text"].focus {
    border-bottom: solid 2px #0099cc; /*#00ddff; #969696;*/
}
.style-4 input[type="email"] {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}
.style-4 input[type="email"]:focus,
.style-4 input[type="email"].focus {
    border-bottom: solid 2px #0099cc; /*#00ddff; #969696;*/
}

button {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 10px 20px;
    line-height: 1.8;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
}
button:focus {
    outline: none
}
button {
    color: #fff;
    background-color: #0099cc; /*#6496c8;*/
    text-shadow: -1px 1px #417cb8;
    border: none;
}
button:hover,
button.hover {
    background-color: #007AA3; /*#346392;*/
    text-shadow: -1px 1px #27496d;
}
button:active,
button.active {
    background-color: #006B8F; /*#27496d;*/
    text-shadow: -1px 1px #193047;
}

#bheader button {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 10px 20px;
    line-height: 1.8;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
}
#bheader button:focus {
    outline: none
}
#bheader button {
    color: #fff;
    background-color: #0099cc; /*#6496c8;*/
    text-shadow: -1px 1px #417cb8;
    border: 1px solid red;
}
#bheader button:hover,
#bheader button.hover {
    background-color: #007AA3; /*#346392;*/
    text-shadow: -1px 1px #27496d;
}
#bheader button:active,
#bheader button.active {
    background-color: #006B8F; /*#27496d;*/
    text-shadow: -1px 1px #193047;
}

input[type='range'] {
    -webkit-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 10px;
    vertical-align: middle;
}
input[type='range']::-moz-range-track {
    -moz-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 10px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
}
input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
}

/*
.ui-content {
    padding: 14px !important;
}

.ui-listview {
    margin: 0px !important;
}

.listview-wrapper {
    width: 100% !important;
}
*/
